[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl
[submodule "MicroPythonPkg/MicroPython"]
	path = MicroPythonPkg/MicroPython
	url = https://github.com/micropython/micropython.git
[submodule "MicroPythonPkg/Oniguruma"]
	path = MicroPythonPkg/Oniguruma
	url = https://github.com/kkos/oniguruma
